body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 700px;
  display: block;
}
h1 {
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.carousel-container {
  width: 700px;
  margin: auto;
  border: 3px solid black;
  overflow: hidden;

  position: relative;
}

.carousel-slide {
  display: flex;
  align-items: center;
  width: 100%;
}

button {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
button:hover {
  color: gray;
  transform: scale(2);
}

#prev {
  top: 50%;
  left: 20px;
}
#next {
  top: 50%;
  right: 20px;
}